/*STYLE UNTUK HTML PROFEL*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;;
    background-image: url('bg2.jpeg');
    background-size: cover;
    font-family: 'ubuntu';
}

h1{
    color: rgb(148, 46, 15);
    text-align: center;
}

h2{
    text-align: center;
    color: seashell;
}
h3{
    text-align: center;
    margin-left: 10%; margin-right: 10%;
    color: seashell;
}
p{
    text-align: center;
}


                                            /*STYLE UTK TOP NAVIGATION/HEADER*/

.material-symbols-outlined{
    vertical-align: -5px;
}

.navbar { /*utk semua item navbar*/
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 999;
        position: fixed;
        justify-content: space-between;
        background: repeating-linear-gradient( /*utk grad warna biru atas tea*/
            to left,
            #522d1d, 8.7%,
            #724429 8.7%,
            #c77c3f 18.1%,
            #bb6f50 28.4%, #3d62a5 40%,
            #8099c7 40%, #4570c2 50%,
            #5389cf 50%, #5389cf 60%,
            #6199e2 60%, #8da9ce 70%,
            #6f84a0 70%, #79aef3 80%,
            #a0c8fc 80%, #ffffff 90%,
            #ffffff 90%, white 100%
        );
        display: flex;
        align-items: center;
        padding: 10px;
}
   
.nin a { /*utk segala link di navbar*/
    text-align: center;
    padding: 2px 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
   
.nin a:hover { /*ketika segala link navbar disentuh*/
    background-color: rgb(20, 140, 220);
    transition: 0.5s;
}

.nan a:hover{
    color: white;
    transition: 0.3s;
}


.nav-logo { /*utk logo disamping profile icon*/
    width: 50px;
    margin-right: auto;
    margin-left: 3%;
}
 
.profilelogog{
    width: 10px;
}

#profile-card-icon{ /*utk profile icon*/
    font-size: 45px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
   
}
#profile-card-icon:hover{ /*ketika profile icon disentuh*/
    filter:drop-shadow(0px 0px 5px rgb(7, 54, 124));
}
#profile-card-icon:active { /*ketika profile icon ditekan*/
    transform: scale(0.8);
}



                                                      /*STYLE UTK PROFILE CARD*/
.profile-buttons{ /*Profile: button atas*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #221613;
}
.profile-buttons i{
    color: white;
}

.profile-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.profile-card{ /*profile umum*/
    background-color: #bdbdbd;
    width: 350px;
}

.profile-header{ /*Profile: logo dan nama*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #221613;
}
.profile-header h1{
    color: #FFF;
    font-size: 30px;

}

.profil-logo{ /*Profile: logo*/
    max-width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.profil-logo:hover{ /*Profile: ketika disentuh*/
    cursor: pointer;
    transition: 0.3s ease;
    transform: scale(0.9);
    box-shadow: 0 0 90px rgba(255, 136, 0, 0.8);
}

.profile-body{ /*text2 di bagian abu-abu si profil*/
    padding: 25px;
}
.profile-body h2{
    color: #115508;
    font-size: 23px;
}
.profile-body p{
    color: #666;
    font-size: 15px;
    text-align: justify;
}

.profile-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.profile-footer a{
    padding-inline: 25px;
    padding-bottom: 20px;
}

.profile-footer i:hover{
    box-shadow: 0 0 90px rgba(0, 123, 255, 0.8);
    animation: jump 0.5s ease-in-out;
}

@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
