/*STYLE UNTUK HTML PROFEL*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    padding: 0;;
    background-image: url('shrimpbg.jpg');
    background-size: cover;
    font-family: 'ubuntu';
    height: 100vh;
}

h1{
    color: rgb(148, 46, 15);
    text-align: center;
}

h2{
    text-align: center;
    color: seashell;
}
h3{
    text-align: center;
    margin-left: 10%; margin-right: 10%;
    color: seashell;
}
p{
    text-align: center;
}


                                            /*STYLE UTK TOP NAVIGATION/HEADER*/

.material-symbols-outlined{
    vertical-align: -5px;
}

.navbar { /*utk semua item navbar*/
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 999;
    position: fixed;
    justify-content: space-between;
    background: repeating-linear-gradient( /*utk grad warna biru atas tea*/
        to left,
        #83332d 0%, #83332d 10%,
        #9e4e44 10%, #9e4e44 20%,
        #d6957b 20%, #d6957b 30%,
        #e5b7a5 30%,#e5bfa5 40%,
        #ebd4ca 40%, #ebd7ca 50%,
        #83a9c9 50%, #83a9c9 60%,
        #688caa 60%, #688caa 70%,
        #5a7891 70%, #5a7891 80%,
        #546f85 80%, #546f85 84%,
        #ffffff 90%,#ffffff 100%
    );
    display: flex;
    align-items: center;
    padding: 10px;
}
   
.nin a { /*utk segala link di navbar*/
    text-align: center;
    padding: 8px 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
   
.nin a:hover { /*ketika segala link navbar disentuh*/
    background-color: rgb(20, 140, 220);
    transition: 0.5s;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}


.nav-logo { /*utk logo disamping profile icon*/
    width: 50px;
    margin-right: auto;
    margin-left: 2%;
}
 
.profilelogog{
    width: 10px;
}

#profile-card-icon{ /*utk profile icon*/
    font-size: 45px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
   
}
#profile-card-icon:hover{ /*ketika profile icon disentuh*/
    filter:drop-shadow(0px 0px 5px rgb(7, 54, 124));
}
#profile-card-icon:active { /*ketika profile icon ditekan*/
    transform: scale(0.8);
}



                                                      /*STYLE UTK PROFILE CARD*/
.profile-buttons{ /*Profile: button atas*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #bdbdbd;
    border-radius: 20px;
}
.profile-buttons i{
    color: white;
}

.profile-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.profile-card{ /*profile umum*/
    background-color: #bdbdbd;
    width: 350px;
    transition: 0.3s;
    border-radius: 20px;
}
.profile-card:hover{
    transform: scale(1.2) rotate(-2deg);
    transition: 0.3s;
}

.profile-header{ /*Profile: logo dan nama*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #221613;
}
.profile-header h1{
    color: #FFF;
    font-size: 30px;

}

.profil-logo{ /*Profile: logo*/
    max-width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.profil-logo:hover{ /*Profile: ketika disentuh*/
    cursor: pointer;
    transition: 0.3s ease;
    transform: scale(0.9);
    box-shadow: 0 0 90px rgba(255, 136, 0, 0.8);
}

.profile-body{ /*text2 di bagian abu-abu si profil*/
    padding: 25px;
}
.profile-body h2{
    color: #551408;
    font-size: 23px;
}
.profile-body p{
    color: #666;
    font-size: 15px;
    text-align: justify;
}

.profile-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.profile-footer a{
    padding-inline: 25px;
    padding-bottom: 20px;
}

.profile-footer i:hover{
    box-shadow: 0 0 90px rgba(0, 123, 255, 0.8);
    animation: jump 0.5s ease-in-out;
}

@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


/* FOOTER */
.footercontact{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 10px 10px;
    background: repeating-linear-gradient( /*utk grad warna biru atas tea*/
            to left,
            #833e2d 0%, #833e2d 10%,
            #9e5e44 10%, #9e5e44 20%,
            #d6a47b 20%, #d6a47b 30%,
            #e5bfa5 30%,#e5bfa5 40%,
            #ebd7ca 40%, #ebd7ca 50%,
            #98bfdf 50%, #98bfdf 60%,
            #61a8e2 60%, #61a8e2 70%,
            #5490c2 70%, #5490c2 80%,
            #4883b3 80%, #4883b3 84%,
            #ffffff 90%,#ffffff 100%
        );
}

.footercontact a{
    align-items: center;
    margin-inline: 7%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}


.footercontact .yt:hover{
    color: rgb(168, 3, 3);
    transition: 0.3s;
    font-size: 25px;
}
.footercontact .ins:hover{
    color: rgb(155, 12, 79);
    transition: 0.3s;
    font-size: 25px;
}
.footercontact .fc:hover{
    color: rgb(6, 55, 95);
    transition: 0.3s;
    font-size: 25px;
}
.footercontact .env:hover{
    color: rgb(10, 85, 99);
    transition: 0.3s;
    font-size: 25px;
}

footer{
    background-attachment: fixed; /* Keeps the image fixed during scrolling */ 
    background-size: cover;
    background-image: url(blackbg.jpg);
}